@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
    <h1 class="display-4 text-capitalize text-black">Welcome To PizzaShop</h1>
    <h2>It's Time for Pizza</h2>
    </div>
    <img class="mainImage" src="~/images/PizzaTime.jpg" alt="Pizza">
    <a class="btn btn-primary mt-1" asp-page="Checkout/Thankyou">Bring Me Some Pizza!!</a>
</div>
